.header-text{
    background-color: #E20074;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    text-align: left;
    font-family: "Tele-Grotesk" !important;
    font-size: 26px;
    font-weight: normal;
    height: 3.5%;
    color: #fff;
  }
  .logo-img{
    max-height: 30px;
  }
  .header-text{
    background-color: #E20074;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    text-align: left;
    font-family: "Tele-Grotesk" !important;
    font-size: 26px;
    font-weight: normal;
    height: 3.5%;
    color: #fff;
  }
  .logo-img{
    max-height: 30px;
  }
  